---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

// utils
import { slugify, formatBlogPosts } from "../../js/utils";

export async function getStaticPaths() {
  return [
    {
      params: { category: slugify("tag one") },
      props: { name: "Tag One" },
    },
    {
      params: { category: slugify("tag two") },
      props: { name: "Tag Two" },
    },
    {
      params: { category: slugify("tag three") },
      props: { name: "Tag Three" },
    },
    {
      params: { category: slugify("tag four") },
      props: { name: "Tag Four" },
    },
  ];
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
  (post) => slugify(post.frontmatter.category) === category
);
---

<MainLayout title={name}>
  <section>
    <h1 class="text-3xl font-medium text-center mt-8 mb-12">Posts about {name}</h1>
    <div class="grid grid-cols-[1fr_35rem_1fr] lg:grid-cols-[1fr_25rem_25rem_1fr] lg:m-20 lg:gap-x-10 lg:[&>*:nth-child(odd)]:col-start-2 lg:[&>*:nth-child(even)]:col-start-3">
      {
        catPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
          />
        ))
      }
    </div>
  </section>
</MainLayout>
