---
// component import
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 2, 
});

// page variables
const Title = "Website & Blog"
---

<MainLayout title={Title} description="A sample website made with Astro and styled with Tailwind CSS">
  <section>
    <h1 class="text-center text-3xl my-14">{Title}</h1>
    <div class="flex justify-center mb-14">
      <img
        class="object-center"
        src="/images/silhouette.svg"
        alt="My Headshot"
        width={200}
        height={330}
      />
    </div>
    <div>
      <p class="text-xl px-10 mb-10 max-w-6xl mx-auto">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae illo optio ea quibusdam, laboriosam consequuntur libero, a eum eligendi eius quasi in exercitationem neque quas officiis? Eveniet facere magnam labore voluptates natus voluptatibus eum.
      </p>
      <p class="text-xl px-10 mb-20 max-w-6xl mx-auto"><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/about/" text="Click here">Click here<a/> to learn more about me.</p>
    </div>
  </section>
  <hr />
  <section>
    <h2 class="text-3xl py-3 m-3 border-box text-center">New Blog Posts</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 max-w-6xl mx-auto">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
